@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    z-index: 10;
  }
  to {
    z-index: 50;
  }
}

.fade-out-delay {
  animation-name: fadeOut;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s; /* same as the duration of the slide animation */
}
.fade-in-delay {
  animation-name: fadeIn;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s; /* same as the duration of the slide animation */
}

.darken-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5px);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 100%;
  height: var(--slide-height);
  position: relative;
}

.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.embla__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.embla__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

.embla__button {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  cursor: pointer;
}

.embla__button svg {
  width: 1rem;
  height: 0.8rem;
}
.embla__dots {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.embla__dot {
  width: 0.4rem;
  height: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.embla__dot--selected {
  background-color: rgba(255, 255, 255, 1);
  scale: 1.1;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.rdrDayNumber span {
  font-weight: 400;
}

.slider {
  width: 100%;
  background: #ddd;
  margin-top: 30px;
}

.slider-thumb {
  width: 23px;
  height: 23px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #222;
  top: -10px;
}

.slider-track {
  height: 2px;
}

.slider-track-0 {
  background-color: #ddd;
}

.slider-track-1 {
  background-color: #222 !important;
}

.slider-track-2 {
  background-color: #ddd;
}

.utl {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 33.4%;
}
.utl__viewport {
  overflow: hidden;
}
.utl__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.utl__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.utl__button {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border: 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
}